<button type="button" class="btn btn-primary">导入文件</button>


<table id="example" class="table table-striped " cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>文件名称</th>
                <th>上传时间</th>
                <th>操作</th>
              
            </tr>
        </thead>
       
        <tbody>
            <tr>
                <td>eeee</td>
                <td></td>
                <td>
					<button type="button" class="btn btn-success">分析</button>
                	<button type="button" class="btn btn-danger">删除</button>
                </td>
              
            </tr>
          
        </tbody>
    </table>

<script type="text/javascript" src="js/importFile.js"></script>